#mucluc {
  position: fixed;
  background: #175942;
  width: 70%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 9999;
}

.mucluc {
  display: inline-block;
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.home {
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #EDFFED;
  font-family: 'Poppins', sans-serif;
}
#sign_in {
  background: #175942;
  width: 64px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 290px;
  padding-left: 20px;
  padding-right: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#signin {
  text-decoration: none;
  color: #fff;
}
.logo {
  position: absolute;
  width: 50px;
  border-radius: 50%;
  margin-left: 320px;
  margin-top: 5px;
}
#la_01 {
  position: absolute;
  width: 250px;
  transform: scale(-1);
  transform: rotate(140deg);
  margin-top: -30px;
  margin-left: -90px;
  z-index: -1;
}
#la_02 {
  position: absolute;
  width: 100px;
  transform: rotate(140deg);
  margin-left: 220px;
  margin-top: 500px;
  z-index: -1;
}
#banner_05 {
  position: relative;
  height: 600px;
  width: 384px;
  overflow: hidden;
  margin-top: 80px;
}
#banner_05 img {
  position: absolute;
  width: 330px;
  right: -50px;
}
#banner_05 h2 {
  position: absolute;
  z-index: 10px;
  font-size: 20px;
  text-align: center;
  color: #3f3d56;
  margin-left: 20px;
  top: 50px;
}

#contact_sdt {
  position: absolute;
  left: 50px;
  bottom: 250px;
  width: 100px;
  padding: 10px;
  background: #3f3d56;
  border-radius: 20px;
}

#contact_sdt p {
  margin: 0px;
  color: #FFFFFF;
  text-align: center;
}

#contact_sdt a {
  
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 10px;
}

#contact_sdt i {
  position: absolute;
  margin-left: 35px;
}

#contact_email {
  position: absolute;
  left: 220px;
  bottom: 250px;
  width: 100px;
  padding: 10px;
  background: #3f3d56;
  border-radius: 20px;
}

#contact_email p {
  margin: 0px;
  color: #FFFFFF;
  text-align: center;
}

#contact_email a {
  
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 10px;
}

#contact_email i {
  position: absolute;
  margin-left: 35px;
}
#footer {
  font-size: 10px;
  text-align: center;
}
h4 {
  position: absolute;
  text-align: center;
}