#mucluc {
  position: fixed;
  background: #175942;
  width: 70%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 9999;
}

.mucluc {
  display: inline-block;
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.home {
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #EDFFED;
  font-family: 'Poppins', sans-serif;
}
#sign_in {
  background: #175942;
  width: 64px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 290px;
  padding-left: 20px;
  padding-right: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#signin {
  text-decoration: none;
  color: #fff;
}
.logo {
  position: absolute;
  width: 50px;
  border-radius: 50%;
  margin-left: 320px;
  margin-top: 5px;
}
#la_01 {
  position: absolute;
  width: 250px;
  transform: scale(-1);
  transform: rotate(140deg);
  margin-top: -30px;
  margin-left: -90px;
  z-index: -1;
}
#la_02 {
  position: absolute;
  width: 100px;
  transform: rotate(140deg);
  margin-left: 220px;
  margin-top: 500px;
  z-index: -1;
}

#banner_04 {
  position: absolute;
  width: 330px;
  margin-top: 40px;
  margin-left: 30px;
}

#tieude {
  text-align: center;
  color: #3f3d56;
  margin-top: 100px;
  z-index: 10;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}
#gioithieu {
  position: absolute;
  text-align: center;
  color: #003D28;
  margin-top: 210px;
  margin-left: 40px;
  margin-right: 40px;
  z-index: 1;
}

#new_content {
  position: absolute;
  color: #3f3d56;
  margin-top: 350px;
  margin-left: 20px;
  margin-bottom: 70px;
  z-index: 10;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}
#html {
  margin-top: 450px;
  margin-bottom: 100px;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 40px;
  border-radius: 20px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

#html img {
  width: 280px;
  border-radius: 20px;
}

#html h3 {
  margin-left: 60px;
}

#html a {
  background: #3f3d56;
  margin-left: 80px;
  padding: 10px 25px;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

#js {
  margin-bottom: 50px;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 40px;
  border-radius: 20px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

#js img {
  width: 280px;
  border-radius: 20px;
}

#js h3 {
  margin-left: 60px;
}

#js a {
  background: #3f3d56;
  margin-left: 80px;
  padding: 10px 25px;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

#la_03 {
  position: absolute;
  z-index: -1;
  transform: rotate(160deg);
  width: 300px;
  margin-top: 900px;
  margin-left: -50px;
}

#la_04 {
  position: absolute;
  z-index: -9999;
  transform: rotate(-30deg);
  width: 100px;
  margin-top: 1400px;
}
#footer {
  font-size: 10px;
  text-align: center;
  margin-left: 120px;
  position: absolute;
}